* {

	margin: 0;
	padding: 0;
}


body,
html {

	height: 100%;
}

body {

	position: relative;
	font-size: 10px;
	padding-top: 52px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
}

li {

	list-style: none;
}



div.page {

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 1460px;
	min-height: 100%;
	padding: 0 40px;
	padding-bottom: 150px;
	margin-bottom: -150px;
}

/*  IE conditional fixes */
.ie div.page {

	height: 100%;
	/* display: table; */
}

.ie #subnav .menu-item-232 {

	visibility: hidden;
}


#header {

	position: relative;
	/*float: left;*/
	width: 100%;
	clear: both;
	min-height: 130px;

}

	.menu-hauptlinks-container,
	#menu-hauptlinks,
	#subnav {

		display: block;
		width: 100%;
		float: left;
	}

	#menu-hauptlinks li {

		float: left;
	}

	#subnav {

		margin-top: 38px;
		margin-bottom: 32px;
	}

	#subnav li {

		float: left;
	}

	.ie #menu-item {

		visibility: hidden;
	}

div.content {

	padding-left: 20px;
	float: right;
}

#footer {

	height: 150px;
	clear: both;
	overflow: hidden;
}

/* BASIC COLUMN SETUP */

#footer .page {

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100px;
	padding: 12px 40px;
	margin: 0;
	/*max-width: 1380px;*/
	max-width: 1460px;
}

#leahampel {

	width: 200px;
	position: fixed;
	top: 52px;
}



div.columns-wrapper {

	width:				100%;
	float:				left;
}

div.columns div.left {

	/*margin-right:		20px;*/
	float:				left;
}

 div.columns div.right {

	float:				right;
}

div.content,
div.columns {

	width:				925px;
	clear:				both;
}

div.columns div.left,
#column-main div.columns {

	width: 				610px;
}

div.columns div.right,
#column-main div.column {

	width: 				295px;
}

	/* ADJUST COLUMNS BY WIDTH */

	/*
		Disable columns, if enough space for full side column
		+ lea 200 + margin 20 + content margin 20
	 */
	@media only screen and (min-width: 1256px) {

		#column-side div {

			float: none;
			width: auto;
		}
	}

	/*
	 	first break point < 925px
	 	- set right column into main
	 	- max margin to lea 250px
	 */
	@media only screen and (max-width: 1255px) {

		div.page,
		#footer .page {
			max-width: 1058px;
		}

		div.content,
		div.columns-wrapper {
			width: 610px;

		}

		#column-side {

			width: 100%;
		}

		/* adjust left column to default left column */
		#column-side div.column.left {

			width: 295px;
		}

	}

	/*
		second breakpoint < 890px (lea 200 + content 610 + 40px website margin + 40px inner margin)
		- content single column
		- scales with view#port
	 */
	@media only screen and (min-width: 764px) and (max-width: 940px) {

		div.content {

			padding-left: 250px;
			float: none;
		}

		div.content,
		div.columns-wrapper,
		div.columns,
		div.column {

			-moz-box-sizing: border-box;
			box-sizing: border-box;
			width: 100% !important;
		}

		#column-main div.columns-wrapper div.left {

			margin-bottom: 26px;
		}

		div.column {

			float: none;
		}

	}

	/*
		third breakpoint < 760px
		- scale content to full width
		- enough space for two column layout
		- center content
		- float lea to bottom
	*/
	@media only screen and (max-width: 763px) {

		div.page {
			max-width: none;
		}

		#leahampel {

			float: left;
			position: relative !important;
			top: 0;
			width: 100%;
			margin: 50px auto;

			border-radius: 0;
		}

		div.content {

			float: none;
			margin: 0 auto;
			padding-left: 0;
		}

		div.content,
		div.columns-wrapper,
		div.columns,
		div.column {

			width: 610px;
		}

		#column-side {

			width: 100%;
		}

		/* adjust left column to default left column */
		#column-side div.column.left {

			width: 295px;
		}
	}

	/*
		last breakpoint < 650px
		(40px website margin + 610px columns)
		- single column layout
		- lea to bottom
	 */
	@media only screen and (max-width: 650px) {

		div.page {

			padding: 0 20px;
		}

		div.content,
		div.columns-wrapper,
		div.columns,
		div.column {

			width: 100% !important;
		}

		div.column {

			float: none;
		}
	}

	@media only screen and (max-width: 480px) {

		#page-navigation * {

			font-size: 14px;
		}

		#page-navigation #pagenumber {

			visibility: hidden;
		}

		article h1 {

			font-size: 180% !important;
			line-height: 1.5 !important;
		}

		article p,
		article p strong {

			font-size: 100% !important;
		}
	}

	/*
		fix for iPad portrait view#
		- header subnav enforce linebreak after 3rd item
	*/

	@media only screen and (width: 768px) {

		#subnav li:nth-child(4) {

			clear: left;
		}

	}

/* EO COLUMN SETUP */

/* ! ARTICLE */

article {

	display: block;
}
