a {
	text-decoration: none;
	color: #000;
}

#website,
#footer {

	font-family: Georgia;
	font-size: 1.6em;
	line-height: 1.6em;
}

div p strong {
	font-family: Georgia;
	font-size: 16px;
	color: #333;
	font-weight: normal;
}

/* FONTS */


em,
strong, 
.more-link,
#header *,
#leahampel .author,
article h1,
article h2,
article h3,
article h4,
article b, 
#footer *,
#page-navigation * {

	font-family: "Open Sans", sans-serif;
}

.title-meta {

	text-decoration: none !important;
}

/* ! ARTICLE CONTENT */

article {

	padding-bottom: 48px;
}

article .category {

	display: block;
	text-decoration: none !important; 
	margin-bottom: 12px; 
}

/* uncomment to style article categories */

/* 
article ul {

	margin: 0;  
	padding: 0;  
	text-align: left; 
	list-style-type: none; 
	margin-bottom: 20px;
	margin-top: -50px;
}

article ul:before {

	content: "Themenfilter:";
	color: #000;
}

article ul li {

	display: inline;
	position: relative;
}

article ul li:hover:before,
article ul li.current-menu-parent:before,
article ul li.current-menu-item:before {

	content: "";
	position: absolute;
	top: auto !important;
	width: 4px;
	height: 4px;
	margin-top: 11px;
	margin-left: 0;
	border-radius: 1em;
	background: #000; 
}

article ul li a {

	text-decoration: none;
	color: #000;
	padding: .2em 1em;  
}
*/ 

article a {

	color: #f64d4d;
}

article h1 {

	font-size: 54px;
	line-height: 61px;
	margin-bottom: 24px;
}

/* subtitles, halftitles*/
article h2,
article h3 {

	font-size: 24px;
	line-height: 32px;
	margin-bottom: 24px;
}

article img {

	width: 100% !important;
	height: auto;
	margin-bottom: 12px;
}

article p {

	color: #333;
	font-size: 19px;
	line-height: 27px;
	margin-bottom: 24px;
}

/* in-post teaser */
article p strong {

	text-decoration: underline;
	margin-bottom: 24px;
	line-height: 27px;
	font-size: 19px;
	color: #333;
}

/* subtitles of article pictures */
article b {

	font-size: 16px;
	color: #000;
	font-style: normal;
}

/* ! NAVIGATION */

#header li {

	text-transform: capitalize;
	/*position: relative;*/
	margin-right: 44px;
	list-style: none !important;

	line-height: 24px;
}

#header li:last-child {

	margin-right: 0px;
}

#header li a {

	color: #000;
	font-size: 26px;
	text-transform: uppercase;
	text-decoration: none;
}

#header li:hover:before,
#header li.current-menu-parent:before,
#header li.current-menu-item:before {

	content: "";
	position: absolute;
	top: auto !important;
	width: 7px;
	height: 7px;
	margin-top: 9px;
	margin-left: -12px;
	border-radius: 1em;
	background: #000;
}

#subnav li:hover:before,
#subnav li.current-menu-parent:before,
#subnav li.current-menu-item:before {

	width: 4px;
	height: 4px;
	margin-top: 11px;
	margin-left: -9px;
}

#subnav li,
#subnav:before {

	position: relative;
	margin-right: 24px;
}

#subnav li a,
#subnav:before {

	color: #000;
	font-family: Georgia;
	font-size: 16px;
	text-transform: none;
	text-decoration: none;
}

#subnav:before {

	line-height: 23px;
	float: left;
}

body.archive #subnav:before {

	content: "Themenfilter:";
}

body.home #subnav:before {

	content: "Aktuelles:";
}

@media only screen and (max-width: 1255px) {

	#menu-hauptlinks li {
		margin-right: 18px;
	}

	#menu-hauptlinks li:hover:before,
	#menu-hauptlinks li.current-menu-parent:before,
	#menu-hauptlinks li.current-menu-item:before {

		width: 5px;
		height: 5px;
		margin-top: 10px;
		margin-left: -9px;
	}

	#menu-hauptlinks li a {
		font-size: 20px;
	}
}

@media only screen and (max-width: 650px) {

	#menu-hauptlinks li {
		margin-right: 20px;
	}

	#menu-hauptlinks li:hover:before,
	#menu-hauptlinks li.current-menu-parent:before {

		margin-top: 11px;
		width: 4px;
		height: 4px;
		margin-left: -8px;
	}

	#menu-hauptlinks li a {
		font-size: 18px;
	}
}

@media only screen and (max-width: 480px) {

	#header li {
		margin-right: 20px;
	}

	#header li:hover:before,
	#header li.current-menu-parent:before {

		width: 4px;
		height: 4px;
		margin-left: -8px;
	}

	#header li a {
		font-size: 14px;
	}

	#subnav li {
		margin-right: 10px !important;
	}

	#subnav:before {
		display: none;
	}

	#subnav li {
		float: none;
	}

	#subnav li:hover:before,
	#subnav li.current-menu-item:before {
		margin-top: 11px;
		margin-left: -8px;
	}
}

#subnav li {
	display: none;
}

#subnav li.current-menu-item,
#subnav li.current-menu-item li,
#subnav li.current-menu-parent,
#subnav li.current-menu-parent li {
	display: block;
}

#subnav li.current-menu-item > a,
#subnav li.current-menu-parent > a {
	display: none;
}

#subnav > li:before {
	display: none;
}

#subnav li li.current-menu-item,
#subnav li li.current-menu-item a {
	display: block !important;
}


/* ! COLUMNS STYLING */

#column-side div.column,
div.columns-wrapper {

	margin-bottom:		26px;
}

.columns .column {

	padding-top: 30px;
	border-top: 1px solid black;
}

#latest {

	margin-bottom: 30px;
	padding-bottom: 24px;
	border-bottom: 1px solid black;
}

#column-main,
#column-side,
#latest + .columns .column,
#column-side .columns:first-child .left {

	padding-top: 0 !important;
	border: none !important;
}

	/* SIDE COLUMN FLOATED IN
		- show side columns top border
	*/
	@media only screen and (max-width: 1255px) {

		#column-side .columns:first-child .left {

			padding-top: 30px !important;
			border-top: 1px solid black !important;
		}
	}

	/* SINGLE COLUMN
		- normalize: border padding margin;
	*/
	@media only screen and (min-width: 764px) and (max-width: 940px),
	only screen and (max-width: 650px) {

		#column-main .columns .column,
		#column-side .columns .column {

			padding-top: 30px !important;
			margin-bottom: 24px !important;
			border-top: 1px solid black !important;
		}

		.columns-wrapper {
			margin-bottom: 0 !important;
		}

		#latest {

			padding: 0 !important;
			margin-bottom: 24px;
			border: 0 !important;
		}
	}


/* ! COLUMN CONTENT LAYOUT */

.more-link {

	color: #f64d4d;
	text-decoration: none;
}

.more-link:hover {

	color: #84A4A5;
}

div.column img {

	width: 100%;
	height: auto;
	margin-bottom: 4px;
}

div.column strong {

	font-size: 16px;
}

div.column em {

	font-size: 29px;
	line-height: 29px;

	display: block;

	margin: 4px 0 12px 0;
	font-size: 24px;
	font-style: normal;
}


/* !LEA HAMPEL */

#leahampel {

	text-align: center;
	border-radius: 10em;
	background: white;
}

#leahampel .author {

	display: block;
	margin: 18px 0;
	text-transform: uppercase;
	font-style: normal;
	font-size: 45px;
	line-height: 48px;
}

#leahampel .profession {

	display: block;
	/* margin: 18px 0; */
	text-transform: uppercase;
	font-style: normal;
	font-size: 26px;
	line-height: 32px;
}

#leahampel .contact * {

	display: block;
	color: #000;
	text-decoration: none;
	margin: 4px 0;
}

#leahampel .contact a:hover {

	color: #f64d4d;
}

#leahampel .sep {

	font-size: 24px;
	margin: 18px;
}

#leahampel .about {

	font-size: 16px;
	line-height: 21px;
}


/* ! FOOTER */

#footer {

	background: #84A4A5;
	width: 100%;
}

#footer * {

	font-size: 14px;
	color: white;
	text-decoration: none;
}

#footer li {

	list-style: none;
}

#footer .imprint {
	/* float: left; 
	margin-left:300px; */
}

#footer .content {

	/* width: 65%; */  
}

#footer img {
	margin-right: 4px;
	margin-bottom: -5px; 
}

#footer .followme {
	float: right;
	background: url(assets/img/twitter.gif) no-repeat left 1px;
}

#footer .followme a {

	padding-left: 16px;
	/*margin-left: 16px;*/
	background: url(assets/img/twitter.gif) no-repeat left 1px;
}

#footer a:hover {

	color: #f64d4d;
}

@media only screen and (max-width: 470px) {

	#footer span {
		display: none;
	}
}

/* ! Blogroll */

body.page-id-50 article a {

	font-size: 24px;
	border-bottom: 1px solid #f64d4d;
}

body.page-id-50 article a:after {

	content: attr(title);
	display: block;
	margin-bottom: 24px;

	color: #333;
	font-size: 14px;
}

/* ! Ueber mich */

body.page-id-168 article {
	width: 80%;
}

body.page-id-168 article p {

	max-width: 470px;
}

/* ! page# navigation */

#page-navigation {

	position: relative;
	clear:both;
	float:left;
	width: 100%;
	min-height: 48px;
}

#page-navigation .button a {

	border: 1px solid #eee;
	padding: 6px 12px;
}

#page-navigation .button a {

	color: #f64d4d;
}

#page-navigation .button:hover a {

	text-decoration: underline;
}

#page-navigation #next {
	float: right;
}

#page-navigation #pagenumber {

	position: absolute;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	text-align: center;
	color: #ddd;
}

#page-navigation #prev {
	float: left;
}

/* ! Video and audio players */

.wp-video-shortcode {
	max-width: 100%;
}

.wp-audio-shortcode {
	max-width: 100%;
}
